@using Lab1.Models
@model List<File>
@using File = Lab1.Models.File;
@{
    ViewBag.Title = "Storage";
}
<h2>
    <table>
        <tr>
            <th>File Name</th>
            <th></th>
        </tr>
        @foreach (File file in Model)
        {
            <tr>
                <td>@file.FileName</td>
                <td>@Html.ActionLink("Download", "DownloadFile", new { fileName = file.FileName })</td>
            </tr>
        }
    </table>
</h2>